body {
    height: 100%;
    width: 100%;
    /* background-color: gray; */
}

.image-trolly img {
    /* background-color: greenyellow; */
    height: 300px;

}

.orange {
    background-color: orange;
}